<ul class="list">
{{#results}}
<li>
	<h4>{{locations}}</h4>
	<em>{{title}}</em>
</li>
{{/results}}
{{^results}}
<div class="empty">No filming locations found.</div>
{{/results}}
</ul>
{{#previous}}<a href="#previous" class="previous">Previous</a>{{/previous}}
{{#next}}<a href="#next" class="next">Next</a>{{/next}}