<ul class="list">
{{#this}}
<li>
	<h4>{{locations}}</h4>
	<em>{{title}}</em>
</li>
{{/this}}
{{^this}}
<div class="empty">No filming locations found.</div>
{{/this}}
</ul>
<a href="#previous" class="previous">Previous</a>
<a href="#next" class="next">Next</a>